<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if self.controller.logged_in? %>
      <h1>Hello <%= current_user.email %>!</h1>
      <%= button_to "Sign Out", session_url(current_user), method: "delete"  %>
    <% else  %>
      <%= link_to "Log In", new_session_url%>
      <br>
      <%= link_to "Sign Up", new_user_url%>
    <% end %>
    
    <%= yield %>
  </body>
</html>
