<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    
    <% if self.controller.logged_in? %>
      <h4>Hello <%= current_user.email %>!</h4>
      <%= button_to "Sign Out", session_url(current_user), method: "delete"  %>
    <% else  %>
    <nav>
      <%= link_to "Log In", new_session_url%>
      <%= link_to "Sign Up", new_user_url%>
    </nav>
    <% end %>   
    <h1>Welcome to the Music App</h1>
 
  </header>

    <%= yield %>
  </body>
</html>
